   <!-- FOOTER -->
        <footer class="footer">Adrian de Haro Ortega. 
         <span class="copyleft"> &copy; </span> 
        Pie de bingo · Todos los derechos reservados
         <span id="socketid"></span>
        </footer>